@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

.bgImage {
    background-image: url('../public/img/hero.png');
    background-repeat: no-repeat;
    background-position: top right;
    background-size: cover;

    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -20;
}

.bg-overlay {
    background-color: black;
    opacity: 50%;

    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -10;
}

.header-overlay {
    background-color: black;
    opacity: 50%;
    width: 100%;

    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
}

.single-strike {
    text-decoration: line-through;
  }